body {
  min-height: 100vh;
  min-height: 100svh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#desktop-menu {
  display: none;
}
.advanced-stat-container {
  position: relative;
  display: flex;
  flex-direction: column;
}
.boost-container {
  display: flex;
  flex-direction: column;
}
.details-card {
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
}
.icons {
  display: flex;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.hero-text {
  display: flex;
  flex-direction: column;
}
.url-input-container {
  position: absolute;
  top: -1rem;
  /* bottom: 0; */
  left: 0;
  right: 0;
}
@media (min-width: 50rem) {
  .hero-section {
    flex-direction: row-reverse;
  }
  #desktop-menu {
    display: flex;
    & > menu {
      display: flex;
      flex-direction: row;
    }
  }
  footer {
    flex-direction: row;
  }
  #hamburger {
    display: none;
  }
}
