@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);

  --Red: hsl(0, 87%, 67%);

  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-inline: clamp(1rem, -2.169rem + 13.5211vw, 10rem)
    clamp(1.2rem, -0.8423rem + 8.7136vw, 7rem);

  padding-block: clamp(0.8rem, 3.0986rem + -2.554vw, 2.5rem) 2.3rem;
}
#desktop-menu {
  display: none;
}
#hamburger {
  transform: scale(1.5);
  & > svg > path {
    fill: var(--Grayish-Violet);
  }
  &:hover {
    cursor: pointer;
  }
}

.advanced-stat-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsl(230, 25%, 95%);
  text-align: center;
  align-items: center;

  padding-block-end: clamp(5rem, 4.1197rem + 3.7559vw, 7.5rem);
  padding-inline: clamp(0rem, -3.5211rem + 15.0235vw, 10rem);
}
.boost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/bg-boost-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);

  color: white;
  padding-block: clamp(3.5rem, 6.8803rem + -3.7559vw, 6rem)
    clamp(3.7rem, 6.4042rem + -3.0047vw, 5.7rem);

  gap: clamp(0rem, -0.5282rem + 2.2535vw, 1.5rem);

  & > h2 {
    font-size: clamp(1.65rem, 1.3859rem + 1.1268vw, 2.4rem);
  }
  & > button {
    background-color: var(--Cyan);
    border-radius: 2rem;
    font-size: 1.3rem;
    padding-inline: 2.3rem;
    padding-block: 0.8rem;

    &:hover {
      background-color: hsl(from var(--Cyan) h s 70%);
    }
  }
}
.details-card {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;
}
.detail-card {
  position: relative;
  background-color: white;
  padding-block: 4rem 2.5rem;
  border-radius: 0.5rem;

  margin-inline: clamp(0rem, 1.3521rem + -1.5023vw, 1rem);

  & > h3 {
    font-size: 1.38rem;
    padding-block-start: 0.7rem;
    padding-inline: clamp(0rem, -0.6338rem + 2.7042vw, 1.8rem);
   
  }
  & > p {
    color: var(--Grayish-Violet);
    padding-inline: clamp(1.8rem, 2.0704rem + -0.3005vw, 2rem);
 
    padding-block-start: 0.9rem;
    font-size: 0.95rem;
    line-height: 1.7;
  }
}

.detail-card:nth-child(3) {
  margin-block: clamp(0rem, -1.0563rem + 4.507vw, 3rem);
  padding-block-end: 2rem;
}
.detail-img {
  background-color: var(--Dark-Violet);
  position: absolute;
  transition: 1s ease;
  border-radius: 50%;
  padding: 1.5rem;
 
  top: -2.8rem;
  left: clamp(1.8rem, 9.507rem + -8.5634vw, 7.5rem);
}
.last-detail-img {
  padding: 1.2rem;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--Very-Dark-Violet);
  text-align: center;

  padding-block-start: clamp(3.3rem, 2.8775rem + 1.8028vw, 4.5rem);
  padding-inline: clamp(0rem, -3.4155rem + 14.5728vw, 9.7rem);
  padding-block-end: clamp(0rem, -1.162rem + 4.9577vw, 3.3rem);
  gap: clamp(0rem, -2.1127rem + 9.0141vw, 6rem);
 
  & > svg > path {
    fill: white;
  }

  & > div > h4 {
    padding-block-start: clamp(0rem, 4.0563rem + -4.507vw, 3rem);
 
    padding-block-end: 1.5rem;
  }
  & > div > ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  & > div:nth-child(3) > h4 {
    padding-block-start: clamp(0rem, 3.1099rem + -3.4554vw, 2.3rem);
 
    padding-block-end: 1.5rem;
  }

  & > div:nth-child(4) > h4 {
    padding-block-start: clamp(0rem, 3.3803rem + -3.7559vw, 2.5rem);
   
    padding-block-end: 1.4rem;
  }

  & > div > ul > li {
    list-style: none;
    font-size: 0.9rem;

    &:hover {
      cursor: pointer;
      color: var(--Cyan);
    }
  }
}
.icons {
  display: flex;
  align-items: center;

  padding-block-start: clamp(0rem, 4.0563rem + -4.507vw, 3rem);
 
  padding-block-end: 2rem;
  gap: 1.5rem;

  & > svg > path:hover {
    fill: var(--Cyan);
    cursor: pointer;
  }
}
.heading-card {
  padding-block-end: clamp(4.6rem, 4.2831rem + 1.3521vw, 5.5rem);
  
  & > h2 {
    color: var(--Very-Dark-Blue);
    font-size: clamp(1.67rem, 1.413rem + 1.0967vw, 2.4rem);
   
  }

  & > p {
    color: var(--Grayish-Violet);
    padding-inline: clamp(0rem, 1.3521rem + -1.5023vw, 1rem);
    padding-block: clamp(0.58rem, 1.4183rem + -0.9315vw, 1.2rem);
    font-size: clamp(1rem, 0.9542rem + 0.1953vw, 1.13rem);
  
  }
}
.hero-img {
  margin-inline-end: clamp(-8rem, 2.8169rem + -12.0188vw, 0rem);
  width: clamp(32rem, 22.493rem + 40.5634vw, 59rem);

  max-width: fit-content;

  padding-inline-start: 1rem;
 
}
.hero-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  padding-inline: clamp(0rem, -3.5211rem + 15.0235vw, 10rem) 0rem;

 /
}
.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  padding-block-start: clamp(2.3rem, 1.631rem + 2.8545vw, 4.2rem);

  & > h1 {
    letter-spacing: clamp(-0.07rem, -0.043rem + -0.03vw, -0.05rem);
    font-size: clamp(2.65rem, 1.8577rem + 3.3803vw, 4.9rem);
  
    word-spacing: -0.2rem;
   
    line-height: 1.15;
    color: var(--Very-Dark-Blue);
  }

  & > p {
    padding-block-start: clamp(0rem, 1.1493rem + -1.277vw, 0.85rem);
    padding-inline: clamp(0rem, 1.0817rem + -1.2019vw, 0.8rem);
    font-size: clamp(1.13rem, 1.0349rem + 0.4056vw, 1.4rem);
  
    line-height: 1.65;
    color: var(--Grayish-Violet);
  }

  & > button {
    color: white;
    background-color: var(--Cyan);
    border-radius: 2rem;

    margin-block-start: clamp(1.8rem, 1.6592rem + 0.6009vw, 2.2rem);
    margin-block-end: clamp(10.5rem, 9.338rem + 4.9577vw, 13.8rem);
   
    font-size: 1.25rem;
    padding-inline: 2.5rem;
    padding-block: 0.8rem;
  

    &:hover {
      background-color: hsl(from var(--Cyan) h s l / 0.5);
    }
  }
}

.links {
  padding: 0;

  padding-block-start: clamp(7rem, 11.7324rem + -5.2582vw, 10.5rem);
  padding-block-end: clamp(0rem, -2.4648rem + 10.5164vw, 7rem);

  & > li {
    list-style: none;
    background-color: white;
    display: flex;
    flex-direction: column;

    margin-inline: clamp(0rem, 1.3521rem + -1.5023vw, 1rem);
   
    margin-block-end: 2rem;
    padding-block: 1.5rem;
    border-radius: 0.5rem;
    gap: 0.5rem;
  }

  & > li > p:first-child {
    text-align: start;
    border-bottom: 1px solid var(--Gray);
    padding-block-end: 0.5rem;
  }

  & > li > p:nth-child(2) {
    text-align: start;
    color: var(--Cyan);
  }
  & > li > * {
    padding-inline: 1.5rem;
  }

  & > li > button {
    margin-inline: 1.5rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--Cyan);

    &:hover {
      background-color: hsl(from var(--Cyan) h s 70%);
    }
  }
  &.empty {
    padding-block-end: 4rem;
    padding-block-start: 8rem;
  }
}
#mobile-menu {
  border: 0;

  background-color: var(--Dark-Violet);
  color: white;
  position: absolute;
  top: 6rem;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 90%;
  margin-inline: auto;
  & > menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    padding-block: 1rem;
    & > li {
      font-size: 1.4rem;
      list-style: none;
      width: 100%;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    & > li:nth-child(3) {
      padding-block-end: 1rem;
      border-bottom: 1px solid hsl(from var(--Gray) h s l / 0.2);
    }
    & > .sign-up {
      background-color: var(--Cyan);
      padding-inline: 4rem;
      padding-block: 0.5rem;
      border-radius: 2rem;
    }
  }
}
.path {
  background-color: var(--Cyan);
  width: clamp(0.5rem, -1.3662rem + 7.9624vw, 5.8rem);
  height: clamp(0.5rem, 7.6662rem + -7.9624vw, 5.8rem);

}
.url-input-container {
  background-image: url("../images/bg-shorten-mobile.svg");
  background-position: top -2rem right -3.3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--Dark-Violet);
  display: flex;

  flex-direction: column;
  position: absolute;
  border-radius: 0.9rem;
  gap: 0.8rem;
  top: -5rem;
  left: 0;
  right: 0;

  padding-block: clamp(1.5rem, 0.9014rem + 2.554vw, 3.2rem);
  padding-inline: clamp(1.5rem, 0.6549rem + 3.6056vw, 3.9rem);
  margin-inline: clamp(1rem, -2.1162rem + 13.2958vw, 9.85rem);
 
  gap: 1.3rem;

  & > div {
    width: 100%;
  }
  & > div > input {
    display: flex;
    flex-direction: column;

    padding-block: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem)
      clamp(0.7rem, 0.5944rem + 0.4507vw, 1rem);

    padding-inline: clamp(0.9rem, 0.5127rem + 1.6526vw, 2rem);

    font-size: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem);
  
    border-radius: 0.5rem;
    
    width: 100%;
  }
  & > button {
    text-align: center;
    color: white;
    background-color: var(--Cyan);
    border-radius: 0.5rem;

    font-size: clamp(1.1rem, 1.0296rem + 0.3005vw, 1.3rem);
    padding-inline: clamp(0rem, -0.8099rem + 3.4554vw, 2.3rem);
    
    padding-block: 0.75rem;


    &:hover {
      background-color: hsl(from var(--Cyan) h s 70%);
    }
  }
}
@media (min-width: 50rem) {
  .boost-container {
    background-image: url("../images/bg-boost-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-section {
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .details-card {
    flex-direction: row;
    text-align: left;
  }
  .detail-card:nth-child(1) {
    align-self: flex-start;
  }
  .detail-card:nth-child(3) {
    align-self: center;
  }
  .detail-card:nth-child(5) {
    align-self: flex-end;
  }
  #desktop-menu {
    display: flex;
    flex: 1;

    & > menu {
      display: flex;
      flex-direction: row;
      color: var(--Gray);
      gap: 1.8rem;
      padding-block: 2.3rem;
      padding-inline-start: 2.8rem;
      padding-inline-end: 2.8rem;
      width: 100%;
      flex: 1;
      align-items: center;
      & > li {
        list-style: none;
        font-size: 0.95rem;
        &:hover {
          cursor: pointer;
          color: var(--Very-Dark-Violet);
        }
      }

      & > li:nth-child(4) {
        margin-inline-start: auto;
      }
      & > .sign-up {
        padding-inline: 1.4rem;
        padding-block: 0.55rem;
        border-radius: 2rem;
        background-color: var(--Cyan);
        color: white;

        &:hover {
          background-color: hsl(from var(--Cyan) h s 70%);
          color: white;
        }
      }
    }
  }
  footer {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    & > div:nth-of-type(1) {
      margin-inline-start: auto;
    }
  }
  .heading-card {
    & > p {
      width: 47ch;
      line-height: 1.8;
    }
  }
  .hero-text {
    text-align: left;
    align-items: flex-start;

    & > p {
      width: 40ch;
    }
  }

  .links {
    min-width: 100%;
    & > li {
      flex-direction: row;
      align-items: center;
     
    }

    & > li > p:first-child {
      margin-inline-end: auto;
      border-bottom: 0;
    }
  }
  #hamburger {
    display: none;
  }

  #mobile-menu {
    display: none;
  }
  .url-input-container {
    background-image: url("../images/bg-shorten-desktop.svg");
    flex-direction: row;
    background-position: right;
    background-size: cover;

    & > button {
      width: 11ch;
    }
  }
}
